@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    margin:10px;
    background-color:#f9fafc ;
    font-family: 'Open-Sans', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

 a {
    text-decoration: none;
    color: black;
    padding-left: 5px;
    
}

p {
    border-left: 2px solid blue;
    padding: 0 5px;
    font-size: 14px;
    color:#69696a;
    border-left: 3px solid #69696a;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 100%;
    background-color: rgba(247, 193, 162, 0.7);
}
.footer-left-link {
    position: absolute;
    left: 10px;
    top: 0;
}

.footer-right-links {
    position: absolute;
    right: 10px;
    top: 0;
}
.button {
    background-color: black;
    border: none;
    border-radius: 10px;
    color: white;
}

.nav-link1 {
    color:#69696a;
    padding: 5px;

}

.links {
    display: static;

}